footer{
    background-color: #0B1212;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    margin: 30px 0px;
}


footer>div{
    padding: 20px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo-container{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer-logo{
    width: 150px;
    margin: 0px;
    border-radius: 100%;
}

.logo-name{
    font-size: 2rem;
    color: rgba(64, 224, 208, 0.416);
    font-family: poppins, sans-serif;
    margin: 0px;
}

.logo-name>span{
    color: rgba(255, 162, 2, 0.482);
}


.contact{
    display: flex;
    flex-direction: column;
    gap: 10px;
    text-align: center;
    width: 100%;
    padding: 20px;
}

.contact h3{
    margin: 0px;
    color: aquamarine;
    font-family: poppins,sans-serif;
}

.links{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    font-size: 1.5rem;
    margin-top: 10px;
}

.links a{
    color: orange;
    text-decoration: none;
}