.banner{
    margin-top: 0;
    padding: 10px;
    background: #000;
    display: flex;
    justify-content: space-between;
    align-items: center;

}


.banner-content{
    width: 100%;
    color: aliceblue;
}


.hero{
    width: 100%;
    border-radius: 100%;
    border-left: 3px solid aqua;
    border-right: 3px solid orange;
}

.hero-img{
    border-radius: 100%;
    width: 100%;
}