.banner {
    margin-top: 0;
    padding: 10px;
    background: #000;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}


.banner-content {
    width: 100%;
    font-family: "Poppins", sans-serif;
    font-size: 1.25rem;
}

.banner-heading {
    font-size: 3rem;
    color: aqua;
}


.hire-btn {
    padding: 10px 20px;
    font-family: "Poppins", sans-serif;
    font-size: 1.5rem;
    border: none;
    border-radius: 5px;
    color: black;
    background-color: rgba(0, 255, 255, 0.523);
}

.hire-btn:hover {
    cursor: pointer;
    background-color: aqua;
    transition: 500ms;
    box-shadow: 2px 2px 15px rgba(0, 255, 255, 0.488);
}



.hero {
    width: 100%;
    border-radius: 100%;
    border-left: 3px solid aqua;
    border-right: 3px solid orange;
}

.hero-img {
    border-radius: 100%;
    width: 100%;
}




@media (max-width: 770px){
    .banner{
        flex-direction: column;
        text-align: center;
        gap:25px
    }


    .banner-heading {
    font-size: 2rem;
    color: aqua;
}

    .hero{
        width: 60%;
        margin: 0 auto;
    }
}