.navMenu {
    margin: 0px;
    padding: 25px;
    gap: 36px;
    color: rgba(0, 255, 255, 0.523);
    background-color: #0B1212;
    display: flex;
    text-align: end;
    justify-content: flex-end;
    align-items: center;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-size: 20px;
    border-bottom: 2px solid orange;

}

.list-item {
    padding: 10px;
    list-style: none;
}

.list-item:hover {
    color: aqua;
    transition: 500ms;
}

.list-item a {
    text-decoration: none;
    color: inherit;
}   




@media (max-width: 770px){
    .navMenu{
        flex-wrap: wrap;
        justify-content: center;
    }
}   