.projects {
    margin: 20px;
    padding: 20px;
    font-family: poppins, sans-serif;
    /* background-color: rgba(64, 224, 208, 0.052); */
    border-top: 2px solid turquoise;
    border-left: 2px solid turquoise;
    border-right: 2px solid orange;
    border-bottom: 2px solid orange;
    border-radius: 10px;
    height: 100%
}

.projects-card-container{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 10px;
}



.projects h2 {
    margin: 0;
    text-align: center;
    color: turquoise;
    font-size: 2.5rem;
    font-family: poppins, sans-serif;
}


.p-project{
    color: orange;
}

.project-card{
    margin-top: 30px;
    padding: 15px;
    background-color: rgba(64, 224, 208, 0.052);
    border-top: 2px solid turquoise;
    border-left: 2px solid turquoise;
    border-right: 2px solid orange;
    border-bottom: 2px solid orange;
    border-radius: 10px;
}


.project-card img{
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 10px;
}

.project-card h3{
    color: rgba(255, 166, 0, 0.575);
}


.project-card h4{
    margin: 5px 0;
    color: rgba(64, 224, 208, 0.553);
}

.card-btn-group{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid black;
    border-radius: 10px;
    overflow: hidden;

}


.live{
    background-color: turquoise;
    font-weight: 600;
    border: none;
    border-radius: 10px 0px 0px 10px;
    padding: 10px 10px;
    font-size: .9rem;
}


.source{
    border: none;
    border-radius: 0px 10px 10px 0px;
    background-color: orange;
    font-weight: 600;
    padding: 10px 10px;
    font-size: .9rem;
}




@media (max-width: 768px){
    .projects-card-container{
        grid-template-columns: repeat(1, 1fr);
    }
}